In [29]:
#import statements
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [56]:
data = pd.read_csv("data1.csv", sep=",")

data.sample(5)
data.shape

(88, 4)

In [31]:
data.Grade[0]

'Distinction'

In [32]:
data.interac_time[0]

2732

In [33]:
data.Ratio[0:4]

0    10.194030
1     1.593284
2     2.123134
3     1.735075
Name: Ratio, dtype: float64

In [34]:
data.Grade[0:4]

0    Distinction
1           Fail
2           Pass
3      Withdrawn
Name: Grade, dtype: object

In [71]:
hs_ratio = data[['Ratio']].copy()

In [104]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(["Grade","Ratio"], axis=1), data.Grade, test_size = 0.2)

In [105]:
x_train

    interac_time  class_length
61           202           240
83             0           241
39          1498           261
77           135           261
45           182           262
..           ...           ...
84           806           269
36          1794           261
24          3676           241
59          1580           269
23             4           262

[70 rows x 2 columns]

In [106]:
y_train

61           Fail
83      Withdrawn
39      Withdrawn
77           Fail
45           Fail
         ...
84    Distinction
36    Distinction
24    Distinction
59      Withdrawn
23      Withdrawn
Name: Grade, Length: 70, dtype: object

In [107]:

model = LogisticRegression()

In [108]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [109]:
model.score(x_test,y_test)

0.3888888888888889

In [96]:
model.predict(np.array([[5.5]]))[0]

'Pass'

28    9.539033
33    0.654167
64    8.350746
54    2.630705
13    0.750000
        ...
37    0.812261
5     0.654275
76    8.754789
83    0.000000
7     0.011152
Name: Ratio, Length: 66, dtype: float64

(66,)

pandas.core.series.Series